.logo-footer {
    width: 15vh;
    height: 4vh;
    margin: 10px;
    margin-left: 13%;
    background: #F9F9F9;
    ;
}

@media only screen and (max-width: 600px) {
    .logo-footer {

        width: 15vh;
        height: 3vh;
        margin: 10px;
        margin-left: 17vh;
        background: #F9F9F9;
    }
}